<body>
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <section class="section">
    <div class="container">
      {{ range sort .Paginator.Pages }}
      <article>
        <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
        <div class="content">
          {{ .Summary | safeHTML }}
          {{ if .Truncated }}
          ...<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
            Read more
            <span class="icon is-small">
              <i class="fa fa-angle-double-right"></i>
            </span>
          </a>
          {{ end }}
        </div>
      </article>
      {{ end }}
    </div>
  </section>
  {{ partial "pager" . }}
  {{ partial "footer" . }}
</body>
